* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex; /*Comes next to eachother*/
  justify-content: space-around; /*spacing*/
  align-items: center;
  min-height: 8vh;
  background-color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rebeccapurple;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 15px;
}

.logo {
  letter-spacing: 5px;
  font-weight: lighter;
  padding: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: rebeccapurple;
  margin: 5px;
}

body {
  background: linear-gradient(120deg, #609cf0, #e9d0f0);
  font-family: "Roboto", sans-serif;
  background-size: 100% 1%;

  height: 100px;
}

.heading {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.questions {
  color: black;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.5px;
}

.paragraphs {
  background-color: whitesmoke;
  padding: 5px;
}

.timer {
  text-align: center;
  width: 16rem;
  height: 16rem;
  border: 5px solid #ffffff;
  border-radius: 10rem;
  /*centering everything*/
  display: flex;
  justify-content: center; /*aligns content horizontally*/
  align-items: center; /*aligns content vertically*/
}

.fa-play-circle,
.fa-undo-alt {
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 1rem;
}

.row {
  width: 100%;
}

.show_message {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: text;
  color: #ffffff;
  transition: 0.5s ease;
  background-origin: #609cf0;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    background-color: white;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    transform: translateX(100%); /*moves container off screen*/
    transition: transform 0.4s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}
