* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #609cf0, #e9d0f0);
  font-family: "Roboto", sans-serif;
}

.heading {
  color: white;
  font-size: 50px;
}

.timer {
  text-align: center;
  width: 16rem;
  height: 16rem;
  border: 5px solid #ffffff;
  border-radius: 10rem;
  /*centering everything*/
  display: flex;
  justify-content: center; /*aligns content horizontally*/
  align-items: center; /*aligns content vertically*/
}

.fa-play-circle,
.fa-undo-alt {
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 1rem;
}

.row {
  width: 100%;
}

.show_message {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: text;
  color: #ffffff;
  transition: 0.5s ease;
  background-origin: #609cf0;
}
